<%= render 'shared/errors', object: user %>

<%= form_for(@user) do |user_builder| %>
    <div>
        <%= user_builder.label :username %>
        <%= user_builder.text_field :username %>
    </div>
<% end %>