<% if object.errors.any? %>
<div class="alert alert-danger" style="width: 500px">
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
