<% if object.errors.any? %>
<div class="alert alert-danger" role="alert">
  <p><%= pluralize(object.errors.count, 'error') %> found:</p>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
