<% @posts.each do |post| %>
    <% if post.image.exists? %>
        <div class="card rounded-left mx-auto mt-4" style="width: 18rem;">
            <div class="card mt-0" style="width: 18rem;">
                <div class="card-body modal-dialog-centered" style="height: 1rem;">
                    <strong><p class="card-text"><%=link_to post.user.username, user_path(post.user)%></p></strong>
                </div>
                <%= link_to (image_tag(post.image.url, class: "card-img-top")), post_path(post)%>
                <div class="card-body text-center">
                    <p class="card-text"> <%=post.description%> </p>
                </div>
            </div>
        </div>
    <% end %>
<% end %>