/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: whitesmoke;
}

body::-webkit-scrollbar {
  display: none;
}

 #myVideo {
  position: fixed;
  z-index: -1;
  height: auto;
  width: 100%;
  top:0;  
  left:0;  
  right:0;  
  bottom:0;
}

.signup {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

.login-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.form-signin h1 {
  color:  #f1f1f1;
  text-shadow: 2px 2px #6c757d;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar input {
  margin-right: 20px;
}

.alert-danger ul {
  list-style: circle;
}

.container.new-post {
  margin-right: 50px;
  margin-left: 50px;
}

#new-post-form {
  margin-top: 50px;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  margin-top: 0;
}

.was-validated textarea.form-control:valid, textarea.form-control.is-valid {
  background: none;
}

.form-control.is-valid:focus .was-validated .form-control.is-valid {
  box-shadow: 0 0 0 0.2rem rgba(40, 159, 167, 0.25);
}

.field_with_errors textarea#post_description {
  border-color: #dc3545;
}

.field_with_errors textarea#post_description:focus {
  box-shadow: 0 0 0 0.2rem rgba(167, 40, 40, 0.25);
}

.custom-file input#post_image:focus {
  outline: none;
}

.settings-form label {
  display: block;
}

.settings-form {
  max-width: 330px;
}

.field_with_errors input {
  border-color: #dc3545;
}

.field_with_errors input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(167, 40, 40, 0.25);
}

.settings-form input:focus {
  outline: none;
}
