/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: whitesmoke;
}

body::-webkit-scrollbar {
  display: none;
}

.home {
  height: 100vh;
}

 #videoBG {
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG { 
      width: auto;
      height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
      display: none;
  }
  .home {
      background-image: image-url('bg-cat.jpg');
      background-size: cover;
  }
}

.signup {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.login-form {
  h2 {
    color:  #f1f1f1;
    text-shadow: 2px 2px #6c757d;
  }

  .checkbox {
    font-weight: 400;
  }

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 25px;
  }
  
  .form-control:focus {
    z-index: 2;
  }

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.navbar input {
  margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 20px;
}

.navbar-brand img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.alert-danger ul {
  list-style: circle;
}

.alert-danger {
  font-size: 20px;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  margin-top: 0;
  font-size: 20px;
}

.form-control.is-valid:focus .was-validated .form-control.is-valid {
  box-shadow: 0 0 0 0.2rem rgba(40, 159, 167, 0.25);
}

.field_with_errors input {
  border-color: #dc3545;
}

.field_with_errors input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(167, 40, 40, 0.25);
}

.form-control.is-valid, .was-validated .form-control:valid {
  background-image: none;
  background-color: #fff;
}

.field_with_errors input#user_username, .field_with_errors input#user_password, .field_with_errors input#user_password_confirmation {
  border-color: #dc3545;
}

label {
  font-size: 25px;
}
