.card {
    margin-top: 5%;
}

.show-img {
    max-width: 100%;
    max-height: 100%;
}

.show-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #343a40;
    object-fit: cover;
}

.post-index-scroll {
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin-left: 25vw;

    overflow-y: hidden;
    overflow: scroll;
    padding-right: 15vw;
}

.post-index-scroll::-webkit-scrollbar {
    display: none;
}

.index-card {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

p.card-head {
    color: gray
}

.card-top, .name-description, .date-posted {
    display: flex;
    flex-direction: column;
}

.flex-this {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-head {
    display: inline-block;
}

.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.comments p {
    display: inline-block
}

.comments {
    overflow-y: hidden;
    overflow: scroll;
    max-height: 250px;
}

.comment-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

ul {
    list-style-type: none;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.bottom-buttons {
    display: inline-block;
    margin: 15px;
}

.new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.inner-form {
    display: flex;
    flex-direction: row;
}

.bigger {
    margin-right: 50px;
}

input#post_image, .bigger {
    font-size: 25px;
}

#post_description {
    font-size: 25px;
}

.post-description {
    margin-left: 15px;
}

a {
    color: black;
}

.tags p {
    margin-top: 10px;
    font-size: 15px;
    display: inline-block;
}

.inline {
    display: inline-block;
}

.profile-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
}

.right, .top-five {
    display: flex;
    flex-direction: column;
}

.right {
    position: absolute;
    top: 200px;
    right: 15vw;
}

.top-five h3 {
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
}

.top-five p {
    font-size: 23.5px;
}

.top-five input {
    position: absolute;
    right: 0px;
    top: 5px;
}

.emoji-btn {
    font-size: 25px;
}

.users-scroll {
    display: flex;
    flex-direction: row;

    overflow-x: hidden;
    overflow: scroll;
    
    border: 1px solid;
    border-radius: 5px;
    border-color: #cccccc;

    background-color: white;
    padding: 3px;

    img.show-pic {
        margin: 10px;
        border-radius: 50%;
    }
}
