// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.search-results {
    margin: 10vw
}

img.show{
    width: 350px;
    height: 275px;
    object-fit: cover;
}

.settings {
    margin-top: 50px;
    text-align: center;
}

.settings-form {
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    margin-top: 35px;
    font-size: x-large;
}

.profile-header {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 7.5px;
}

.profile-pic {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: inherit;
    margin-left: 30px;
    margin-bottom: 20px;
}

.profile-pic h4 {
    margin-left: 50px;
}

.user-show-images {
    max-height: 66vh;
    overflow-y: hidden;
    overflow: scroll;
}

.user-show-images::-webkit-scrollbar {
    display: none;
}

.settings-form {
    max-width: 330px;
}

.settings-form label {
    display: block;
}

.settings-form input:focus {
    outline: none;
}

.settings-forms.form-control {
    background: none;
    font-size: 25px;
}

.field_with_errors.form-control {
    border-color: #dc3545;
}

.settings-forms.field_with_errors.form-control:focus {
    // border-color: red;
    outline: none;
}
