// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.search-results {
    margin: 10vw
}

img.show{
    width: 350px;
    height: 275px;
    object-fit: cover;
}

.profile-header, .show-profile-header {
    display: flex;
    margin-top: 15px;
    padding: 7.5px;
}

.profile-header {
    flex-direction: column;
}

.show-profile-header {
    flex-direction: row;
}

.profile-pic {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 20px;
}

.show-profile-pic {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: inherit;
    margin-left: 25px;
}

.profile-pic h4 {
    margin-left: 50px;
}

.show-page-pic {
    height: 150px;
    width: 150px;

    border-radius: 50%;
    border: 2px solid #343a40;
    object-fit: cover;
}

.user-show-images {
    max-height: 66vh;
    overflow-y: hidden;
    overflow: scroll;
}

.user-show-images::-webkit-scrollbar {
    display: none;
}

.was-validated .form-control:valid {
    background: none;
    font-size: 25px;
}

.field_with_errors input#user_username, .field_with_errors input#user_password, .field_with_errors input#user_password_confirmation {
    border-color: #dc3545;
}

.field_with_errors input#user_username:focus, .field_with_errors input#user_password_confirmation:focus {
    box-shadow: 0 0 0 0.2rem rgba(167, 40, 40, 0.25);
}

form#new_user {
    width: 500px;
}

.followers-list {
    display: flex;
    flex-direction: row;
}
