// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.search-results {
    margin: 10vw
}

img.show{
    width: 350px;
    height: 275px;
    object-fit: cover;
}

.settings {
    margin-top: 50px;
    text-align: center;
}

.settings-form {
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    margin-top: 35px;
    font-size: x-large;
}

.profile-header {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 7.5px;
}

.profile-pic {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: inherit;
    margin-left: 30px;
    margin-bottom: 20px;
}

.profile-pic img {
    height: 80px;
    width: 80px;
    border-radius: 75%;
}

.profile-pic h4 {
    margin-left: 50px;
}
